//colors
$white: #ffffff;
$primary:#DE6B32;
$lightOrange:#FFF7EC;
$black: #261E1E;
$black1: #251F17;
$grey:#544E47;
$lightgrey: #76726E;
$lightyello: #FFF6C9;

// $deepBlue :#005589;

// $darkBlue:#005589;
// $red: #ff0000;
// $green :#2A967C;
// $lightyello:#F9F0DD;
// $lightBlack:#333333;
// $orange:#FAAD14;
// // $black:#000;
// $blue: rgb(60, 180, 250);