@import "../../assets/scss/variable.scss";
.Button {
  border: 0;
  outline: 0;
  height: 50.26px;
  font-size: 16px;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: 0em;
  text-align: center;
  &:hover {
    outline: none !important;
    transition: ease all 0.5s;
    background-color: $black;
    color: $white !important;
  }
}

.primaryBtn {
  background-color: $primary;
  color: $white;
}

.secondaryBtn {
  border: 1px solid $black;
  color: $black;
  background: transparent;
}
.buy-btn {
  height: 42px;
  border: none;
  outline: none;
  border: 2px solid #001b49;
  color: #001b49;
  font-size: 14px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  background-color: transparent;
  transition: ease all 0.5s;
  &:hover {
    border: 2px solid #001b49 !important;
    background-color: #001b49;
    color: $white !important;
  }
}

.talkBtn {
  border: none;
  outline: none;
  background-color: #30312c;
  height: 46.24px;
  color: #ffede1;

  font-size: 16px;
  font-weight: 400;
  line-height: 22px;
  letter-spacing: 0em;
  &:hover {
    border: none !important;
    outline: none !important;
    background-color: $black1;
    cursor: pointer;
    color: #ffede1 !important;
  }
}

.callBtn {
  border: none !important;
  outline: none !important;
  height: 50px;
  background-color: #de6b32;
  color: #ffffff;
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0em;
  &:hover {
    border: none !important;
    outline: none !important;
    background-color: #b9501d;
    color: #ffffff !important;
  }
}
.bookBtn {
  height: 58px;
  border: 2px solid #de6b32;
  background-color: #ffffff;
  font-size: 18px;
  font-weight: 600;
  line-height: 27px;
  letter-spacing: 0em;
  color: #de6b32;
  &:hover {
    outline: none !important;
    transition: ease all 0.5s;
    background-color: #de6b32;
    color: #ffffff !important;
    border: 2px solid #de6b32 !important;
  }
}

.formbtn {
  width: 215.29px;
  height: 36.37px;
  border: 1px solid #de6b32;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
  letter-spacing: 0em;
}
.meeting-btn {
  background-color: #de6b32;
  color: #ffffff !important;
  &:hover {
    outline: none !important;
    color: #ffffff !important;
  }
}
.callback-btn {
  background-color: transparent;
  color: #de6b32;
  &:hover {
    outline: none !important;
    color: #de6b32 !important;
  }
}
